<b>-- E-mail automático, não responder! --</b>
<br><br>

Resultado da análise de cargas elétricas de consumo constante realizada no dia <b>{{date_now}} ({{semester_now}})</b> registradas no do inventário da UNICAMP, listando as categorias: {{items_categories}}. Essa análise é gerada semestralmente como parte da política de gestão proposta pelo GT5 do <a href="http://www.campus-sustentavel.unicamp.br/">Campus Sustentável</a>.
<br><br>

O arquivo "Relatório.pdf" é um relatório completo da discriminação dos itens acima mencionados, o "Identificação.log" possui dados de rastreamento e faltantes/não identificados para os itens analisados. Os dados completos podem ser encontrados em <a href="{{PAGE_URL}}">{{PAGE_URL}}</a>.
<br><br>

Caso os arquivos estejam compactados (.zip/.7z/.tar/.xv/.gz/...), recomenda-se as ferramentas: para Windows https://www.7-zip.org/, para Linux/Debian-based use o comando `apt install p7zip-full p7zip-rar`.
<br><br>

{{last_release_notes}}

<br><br>
Para reportar um problema, propor uma melhoria ou nova categoria de equipamento, abra um issue em <a href="{{PROJECT_URL}}/-/issues">{{PROJECT_URL}}/-/issues</a> descrevendo a situação.<br><br>

<!--ARTICLES TO CITE-->

---
<a href="http://lattes.cnpq.br/2763526214348012">
<br>
Prof. Dr. Hildo Guillardi Júnior<br>http://lattes.cnpq.br/2763526214348012<br>

<img src="cid:logo_HGJ" height="50mm" alt="Hildo G. Jr.">
</a>
&emsp;

<a href="https://campus-sustentavel.unicamp.br/">
<img src="cid:logo_CampusSustentável" height="50mm" alt="Campus Sustentável">
</a> &emsp;
<a href="https://www.cpten.unicamp.br/">
<img src="cid:logo_CPTEn" height="50mm" alt="CPTEn">
</a> &emsp;
<a href="https://labrei.dsce.fee.unicamp.br/">
<img src="cid:logo_LabREI" height="50mm" alt="LabREI">
</a> &emsp;
<a href="https://www.unicamp.br/">
<img src="cid:logo_UNICAMP" height="50mm" alt="UNICAMP">
</a>
