<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link href="report.css" rel="stylesheet">
    <title>Patrimônios e seu consumo de energia elétrica na UNICAMP</title>
    <meta name="Patrimônios e seu consumo de energia elétrica na UNICAMP" content="Patrimônios e seu consumo de energia elétrica na UNICAMP"
        authors="Dr. Hildo Guillardi Júnior" generator="weasyprint">
</head>

<body>
    <article id="cover">
        <h1>Patrimônios e seu consumo de energia elétrica na UNICAMP</h1>
        <h2>
            Uso Final da Energia em Edificações [GT5]<br>
            Relatório de Hildo Guillardi Júnior
        </h2>
        <!--COVER MESSAGE-->
        <address>
            Universidade Estadual de Campinas
            Campus Sustentável
            www.campus-sustentavel.unicamp.br/
            campus.sustentavel@unicamp.br
        </address>
        <address>
            <a href="http://lattes.cnpq.br/2763526214348012">Dr. Hildo Guillardi Júnior</a>
            h.guillardi@unesp.br
        </address>
    </article>

    <article id="text">
        <h2 id="chapter-id_editorial">Editorial</h2>
        <h3>Apresentação</h3>
        <section id="table-content">
            <p>
                Relatório gerado dia <b>{{DATE}}</b> por software desenvolvido por <a
                    href="http://lattes.cnpq.br/2763526214348012"></a>Dr. Hildo Guillardi Júnior</a> durante seu
                trabalho no projeto Campus Sustentável para Uso Final da Energia Elétricas nas Edificações (GT5) da
                <a href="https://www.unicamp.br/unicamp/">Universidade Estadual de Campinas (UNICAMP)</a>.
            </p>
            <p>
                O projeto <a href="http://www.campus-sustentavel.unicamp.br">Campus Sustentável</a> é uma parceria do
                UNICAMP com a Companhia Paulista de Força e Luz (CPFL) iniciado em agosto/2017 através do investimento
                de Pesquisa e Desenvolvimento (P&D) de programas da Agência Nacional de Energia Elétrica (ANEEL). O GT5
                foi instaurado no dia 08/julho/2020 sob <a href="https://www.depi.unicamp.br/wp-content/uploads/2022/07/www.depi.unicamp.br-portaria-cgu-18-2020.pdf">portaria CGU nº14/2020 da UNICAMP</a> e renovado em 13/maio/2021
                pela portaria CGU nº05/2021 até 31/maio/2023.
            </p>
            <p>
                Os resultados aqui apresentados visam apontar diretrizes de trabalho para UNICAMP/Campus Sustentável/GT5
                no tocante a gestão dos grupos de patrimônios com maior/constante consumo de energia elétrica do campus,
                sendo que o autor desta ferramenta/relatório não se responsabiliza por eventuais problemas de cadastro
                de patrimônios ou itens faltantes na análise.
            </p>
        </section>
        <h3>Resultados</h3>
        <section>
            <p>
                Os capítulos deste relatório estão divididos por tipo de equipamento com seções para cada instituto. Os
                resultados, em cada característica, envolvem contagens de itens com dados faltantes e, para os
                presentes, análise de valor médio, moda (mais frequente), classificação (ou sem classe / dado faltante),
                totalização e gráficos para análises detalhadas. Ainda, a "{{STATISTIC_SUBNAMES['projected']}}" e
                "{{STATISTIC_SUBNAMES['projected mode']}}" indicam uma projeção de total ao se considerar o valor médio
                ou mais frequente, respectivamente, para os itens sem dados. Unidades identificadas por "*UNIDADE*" na
                listagem não possuem itens em na atual categoria.
            </p>
            <p>
                Adicionalmente, é gerado um arquivo <em>Identificação.log</em> com possíveis erros no registro de
                patrimônios, e, para cada uma das categorias de equipamentos, uma planilha de saída com a especificação
                de cada item identificado em uma seção por unidade da universidade (as colunas
                "{{COLUMN_NAME_SEARCHER}}"
                e "{{COLUMN_NAME_MATCH}}", se presentes, são usadas para registro interno e <em>debug</em> do
                <em>software</em>).
            </p>
            <!--SPECIFIC ANALYSIS SAYING-->
        </section>
        <h3>Dados e licenças</h3>
        <section>
            <p>
                Contando com {{SOFTWARE_TOTAL_LINES}} linhas de código e horas de empenho, podendo analisar dados de
                {{ITEMS_TO_ANALYZE}}, e seus subtipos, nenhum recurso financeiro foi desembolsado durante o
                desenvolvimento desta ferramenta, portanto o autor resguarda o direito de manter os códigos fontes em
                sua posse.
                <!--O conteúdo do software mencionado e o template deste arquivo, baseado em arquivo aberto da biblioteca usada, caso venham a ser liberados, estarão protegidos pela <a href="http://www.gnu.org/licenses/gpl-3.0.en.html">licença GNU-GPLv3</a>.-->
            </p>
            <p>
                O banco de dados patrimonial usado pertencem a UNICAMP e possuem teor público, segundo <a
                    href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2011/lei/l12527.htm">Lei nº 12.527 Capítulo
                    II Art. 7º inciso VI de 18/10/2011 <b>(Lei de acesso à informação)</b></a>, podendo circular
                irrestritamente. Mesma regra se aplica a este relatório, desde que mantida a autoria e citado o autor em
                trabalhos que venham a usar o <em>software</em> ou seus dados (pré-)processados.
            </p>
            <p>
                A citação ou uso parcial dos dados dessa análise em trabalhos de pesquisa devem usar a citação
                <b>(GUILLARDI JR, 2020)</b> (atenção a citação do nome, o sobrenome é "Guillardi" e não "Júnior") ou a
                menção/agradecimento:
            <ul>
                <li>Esse trabalho usa os dados de patrimônios da UNICAMP processados por Dr. Hildo Guillardi Júnior.
                </li>
                <li><em>This paper contains inventory data from UNICAMP processed by Dr. Hildo Guillardi Júnior.</em>
                </li>
            </ul>
            <!--&#8226;-->
            </p>
            <p>
                Dados adicionais atualizados sobre os itens patrimoniados podem ser conseguidos, por qualquer pessoal,
                através dos links:
            <ul>
                <li>Sistema geral de consulta (requer <em>login</em>):
                    <a href="https://www.siad.unicamp.br/dadosger">
                        https://www.siad.unicamp.br/dadosger
                    </a>
                </li>
                <li>Pelo número do bem:
                    <a
                        href="https://www.siad.unicamp.br/patrimonio/servicos/consultaBemMovel/?numeroIdentificacao=%NÚMERO_DO_PATRIMÔNIO%">
                        https://www.siad.unicamp.br/patrimonio/servicos/consultaBemMovel/?numeroIdentificacao=%NÚMERO_DO_PATRIMÔNIO%
                    </a>
                </li>
                <li>Pelo número do bem no cadastro antigo:
                    <a
                        href="https://www.siad.unicamp.br/patrimonio/servicos/consultaBemMovel/?numeroPatrimonioAntigo=%NÚMERO_ANTIGO_DO_PATRIMÔNIO%">
                        https://www.siad.unicamp.br/patrimonio/servicos/consultaBemMovel/?numeroPatrimonioAntigo=%NÚMERO_ANTIGO_DO_PATRIMÔNIO%
                    </a>
                </li>
            </ul>
            Pelo sistema antigo de patrimônio não ser unificado, pode ocorrer de uma pesquisa por um número antigo
            retornar mais de um item. Para desambiguizar a pesquisa, é adiciono o parâmetro
            "&amp;codigoUnidadePatrimonioAntigo=XX" ao final do link anterior. Os códigos de patrimônio antigo são do
            formato "XX/%NÚMERO_ANTIGO_DO_PATRIMÔNIO%", sendo "XX" o código da unidade da universidade, enquanto o
            código novo é apenas um número sequencial único.
            </p>
            <p>
                Relatórios passados podem ser encontrados no grupo público de e-mail <a
                    href="mailto:dataanalytics-l@unicamp.br"> &lt;dataanalytics-l@unicamp.br&gt;</a> e os
                dados atuais em <a
                    href="https://hildogjr.gitlab.io/unicamp-inventory">https://hildogjr.gitlab.io/unicamp-inventory</a>.
            </p>
            <!--
        <p>
          Para reportar um problema, propor uma melhoria ou nova categoria de equipamento, abra um issue em <a href="https://gitlab.com/hildogjr/unicamp-ee-inventory/">https://gitlab.com/hildogjr/unicamp-ee-inventory/</a> descrevendo a situação.
        </p>
        -->
        </section>
        <h3>Reconhecimentos</h3>
        <section>
            <p>
                Este trabalho foi apoiado pelo <a href="https://labrei.dsce.fee.unicamp.br/">Laboratório
                    Interdisciplinar de Pesquisas em Redes Elétricas Inteligentes (LabREI - FEEC)</a>, sob administração
                do prof. Dr. José Antenor Pomilio, do qual Dr. H. Guillardi Jr. é co-fundador.
            </p>
            <!--ARTICLES TO CITE-->
        </section>
    </article>

    <article id="contents">
        <h2>Sumário</h2>
        <ul>
            <li><a href="#chapter-id_editorial"></a></li>
            <!--REPORT SUMMARY-->
        </ul>
    </article>

    <!--REPORT CONTENT-->

</body>

</html>