@charset "UTF-8";
@font-face {
  font-family: Fira Sans;
  font-weight: 400;
  src: url(FiraSans-Regular.otf); }

@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 400;
  src: url(FiraSans-Italic.otf); }

@font-face {
  font-family: Fira Sans;
  font-weight: 300;
  src: url(FiraSans-Light.otf); }

@font-face {
  font-family: Fira Sans;
  font-style: italic;
  font-weight: 300;
  src: url(FiraSans-LightItalic.otf); }

@font-face {
  font-family: Fira Sans;
  font-weight: bold;
  src: url(FiraSans-Bold.otf); }

@page {
  @top-left {
    background: #fbc847;
    content: counter(page) '/' counter(pages);
    height: 1cm;
    text-align: center;
    width: 2cm; }
  @top-center {
    background: #fbc847;
    content: '';
    /*background: url(report-cover.jpg) no-repeat center;*/
    display: block;
    height: .05cm;
    opacity: .5;
    width: 100%; }
  @top-right {
    content: 'UNICAMP - ' string(heading2) ' - ' string(heading1);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%; }
  @bottom-left {
    content: 'Dr. Hildo Guillardi Júnior';
    font-size: 8pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%; }
  @bottom-right {
    content: 'Dados completos em https://hildogjr.gitlab.io/unicamp-inventory';
    font-size: 8pt;
    /*background: url(report-cover.jpg) no-repeat center;*/
    display: block;
    height: 1cm;
    vertical-align: middle;
    width: 100%; }}

@page :blank {
  @top-left {
    background: none;
    content: ''; }
  @top-center {
    content: none; }
  @top-right {
    content: none; } }

@page no-chapter {
  @top-left {
    background: none;
    content: none; }
  @top-center {
    content: none; }
  @top-right {
    content: none; } }

@page :first {
  background: url(report-cover.jpg) no-repeat center;
  background-size: cover;
  margin: 0; }

@page chapter {
  background: #fbc847;
  margin: 0;
  @top-left {
    content: none; }
  @top-center {
    content: none; }
  @top-right {
    content: none; } }

@page watermarked_page {
  background: url(page-logo-watermark.png) center no-repeat;
  background-size: cover;}
.watermark {
  page: watermarked_page; }
/* Only shows on last page of one section.*/
/*
.watermark::after {
  content: "";
  background: url(logo_HGJ_big.png) no-repeat;
  opacity: 0.08;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: center;
  transform: translate(50%, 15%) rotate(-70deg) ;
  z-index: -1; 
}
*/
html {
  color: #393939;
  font-family: Fira Sans;
  font-size: 11pt;
  font-weight: 300;
  line-height: 1.5; }
  html body h1 {
    color: #fbc847;
    font-size: 38pt;
    text-align: center;
    margin: 5cm 2cm 0 2cm;
    page: no-chapter;
    width: 100%;
    string-set: heading1 content(); }
  html body h2, html body h3, html body h4 {
    color: black;
    font-weight: 400; }
  html body h3, html body h4 {
    bookmark-level: none; }
  html body h2 {
    break-before: always;
    text-align: center;
    font-size: 28pt;
    string-set: heading2 content(); }
  html body h3 {
    font-weight: 300;
    font-size: 15pt; }
  html body h4 {
    font-size: 13pt; }
  html body p {
    text-align: justify;
  }
  html body article#cover {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: 297mm; }
    html body article#cover address {
      background: #fbc847;
      flex: 1 50%;
      margin: 0 -2cm;
      padding: 1cm 0;
      white-space: pre-wrap; }
      html body article#cover address:first-of-type {
        padding-left: 3cm; }
  html body article#text {
    /*break-before: right;*/ /*People usually do not print, do not carry with this.*/
    /*break-after: left;*/
    text-align: justify;
    page: no-chapter; }
    html body article#text h2 {
      font-size: 20pt;
      font-weight: 400; }
    html body article#text h3 {
      font-weight: 500; }
      html body article#text h3::before {
        background: #fbc847;
        content: '';
        display: block;
        height: .08cm;
        width: 2cm; }
    html body article#text ul {
      list-style: none;
      padding-left: 0; }
      html body article#text ul li::before {
        color: #fbc847;
        content: '• ';
        font-size: 40pt;
        line-height: 16pt;
        vertical-align: bottom; }
  html body article#contents {
    /*break-before: right;*/ /*People usually do not print, do not carry with this.*/
    /*break-after: left;*/
    text-align: justify;
    page: no-chapter; }
    html body article#contents h2 {
      font-size: 20pt;
      font-weight: 400;
      /*margin-bottom: 3cm;*/ }
    html body article#contents h3 {
      font-weight: 500;
     /* margin: 3em 0 1em;*/ }
      html body article#contents h3::before {
        background: #fbc847;
        content: '';
        display: block;
        height: .08cm;
        /*margin-bottom: .25cm;*/
        width: 2cm; }
    html body article#contents ul {
      list-style: none;
      padding-left: 0; }
      html body article#contents ul li {
        border-top: .25pt solid #c1c1c1;
        margin: .25cm 0;
        padding-top: .25cm; }
        html body article#contents ul li::before {
          color: #fbc847;
          content: '• ';
          font-size: 40pt;
          line-height: 16pt;
          vertical-align: bottom; }
        html body article#contents ul li a {
          color: inherit;
          text-decoration: inherit; }
          html body article#contents ul li a::before {
            content: target-text(attr(href)); }
          html body article#contents ul li a::after {
            color: #fbc847;
            content: target-counter(attr(href), page);
            float: right; }
  html body article#columns section {
    columns: 2;
    column-gap: 1cm;
    padding-top: 1cm; }
    html body article#columns section p {
      text-align: justify; }
      html body article#columns section p:first-of-type {
        font-weight: 700; }
  html body article#competences h3 {
    background: #fbc847;
    margin: 0 -3cm 1cm;
    padding: 1cm 1cm 1cm 3cm;
    width: 21cm; }
  html body article#competences section {
    padding: .5cm 0; }
    html body article#competences section#table-content::before {
      background: url(table-content.svg) no-repeat center #fbc847;
      background-size: 50%;
      content: '';
      display: inline-block;
      float: left;
      height: 2cm;
      margin-right: .5cm;
      vertical-align: middle;
      width: 2cm; }
    html body article#competences section#heading::before {
      background: url(heading.svg) no-repeat center #fbc847;
      background-size: 50%;
      content: '';
      display: inline-block;
      float: left;
      height: 2cm;
      margin-right: .5cm;
      vertical-align: middle;
      width: 2cm; }
    html body article#competences section#multi-columns::before {
      background: url(multi-columns.svg) no-repeat center #fbc847;
      background-size: 50%;
      content: '';
      display: inline-block;
      float: left;
      height: 2cm;
      margin-right: .5cm;
      vertical-align: middle;
      width: 2cm; }
    html body article#competences section#internal-links::before {
      background: url(internal-links.svg) no-repeat center #fbc847;
      background-size: 50%;
      content: '';
      display: inline-block;
      float: left;
      height: 2cm;
      margin-right: .5cm;
      vertical-align: middle;
      width: 2cm; }
    html body article#competences section#style::before {
      background: url(style.svg) no-repeat center #fbc847;
      background-size: 50%;
      content: '';
      display: inline-block;
      float: left;
      height: 2cm;
      margin-right: .5cm;
      vertical-align: middle;
      width: 2cm; }
    html body article#competences section h4 {
      margin: 0; }
    html body article#competences section p {
      margin-top: 0; }
  html body article#offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    html body article#offers h2, html body article#offers h3 {
      width: 100%; }
    html body article#offers section {
      width: 30%; }
      html body article#offers section h4 {
        margin-bottom: 0; }
      html body article#offers section ul {
        list-style: none;
        margin: 0;
        padding-left: 0; }
        html body article#offers section ul li:not(:last-of-type) {
          margin: .5cm 0; }
      html body article#offers section p {
        background: #fbc847;
        display: block;
        font-size: 15pt;
        font-weight: 700;
        margin-bottom: 0;
        padding: .25cm 0;
        text-align: center; }
  html body article#chapter {
    align-items: center;
    display: flex;
    height: 297mm;
    justify-content: center;
    page: chapter; }
  html body article#typography h2 {
    margin-top: 0em;
    margin-bottom: 0.3em;}
  html body article#typography p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;}
  html body article#typography section {
    display: flex;
    flex-wrap: wrap;
    margin: 0.8em 0; }
    html body article#typography section h4 {
      border-top: 1pt solid;
      flex: 1 15%;
      margin: 0; }
    html body article#typography section h4 + * {
      flex: 1 75%;
      margin: 0;
      padding-left: .5cm; }
    html body article#typography section p {
      text-align: justify; }
    html body article#typography section ul {
      line-height: 2;
      list-style: none; }
    html body article#typography section#small-caps p {
      font-variant: small-caps; }
    html body article#typography section#ligatures dl {
      display: flex;
      flex-wrap: wrap; }
      html body article#typography section#ligatures dl dt {
        font-weight: 400;
        width: 30%; }
      html body article#typography section#ligatures dl dd {
        flex: 1 70%;
        margin: 0;
        padding: 0; }
    html body article#typography section#ligatures .none {
      font-variant-ligatures: none; }
    html body article#typography section#ligatures .common {
      font-variant-ligatures: common-ligatures; }
    html body article#typography section#ligatures .discretionary {
      font-variant-ligatures: discretionary-ligatures; }
    html body article#typography section#ligatures .contextual {
      font-variant-ligatures: contextual; }
    html body article#typography section#numbers dl {
      /*width: 65%;*//*#TODO*/
      display: flex;
      flex-wrap: wrap; }
      html body article#typography section#numbers dl dt {
        font-weight: 400;
        width: 40%; }
      html body article#typography section#numbers dl dd {
        flex: 1 60%;
        margin: 0;
        padding: 0; }
    html body article#typography section#numbers #fractions {
      font-variant-numeric: diagonal-fractions; }
    html body article#typography section#numbers #ordinals {
      font-variant-numeric: ordinal; }
    html body article#typography section#numbers #slashed {
      font-variant-numeric: slashed-zero; }
    html body article#typography section#numbers #super {
      font-variant-position: super; }
    html body article#typography section#numbers #sub {
      font-variant-position: sub; }
    html body article#typography section#figures dl {
      columns: 4; }
      html body article#typography section#figures dl dt {
        font-weight: 400; }
      html body article#typography section#figures dl dd {
        display: flex;
        margin: 0;
        padding: 0; }
        html body article#typography section#figures dl dd ul {
          padding: 0 1em 0 0; }
    html body article#typography section#figures #oldstyle {
      font-variant-numeric: oldstyle-nums; }
    html body article#typography section#figures #tabular {
      font-variant-numeric: tabular-nums; }
    html body article#typography section#figures #old-tabular {
      font-variant-numeric: oldstyle-nums tabular-nums; }
