/*Slide dark mode button control borrow from https://vidadeprogramador.com.br/ */
input,select,textarea {
	border: 1px solid #999;
	padding: 3px 7px;
	min-width: 300px;
	max-width: 100%;
	border-radius: 3px
}

input[type=radio] {
	min-width: 5px
}

.container {
	position: absolute;
	top: 5px;
	right: 15px;
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	padding-left: 20px;
	font-weight: 500;
	color: #444;
	border: 2px solid #ccc;
	border-radius: 50px;
	vertical-align: top;
	margin-top: 5px
}

.container:hover input~.checkmark {
	background-color: #ccc;
}

.container input:checked~.checkmark {
	background-color: #fbc847;
	left: 20px
}

.container .checkmark:after {
	content: "";
	position: absolute;
	display: block;
	right: -1px;
	top: 2px;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: var(--header);
	border-width: 5px;
	border-radius: 50%
}

.container input:checked~.checkmark:after {
	display: block
}

#toggle-dark {
	display: none
}

.checkmark {
	position: absolute;
	top: 2px;
	left: 5px;
	height: 15px;
	width: 15px;
	background-color: #eee;
	border-radius: 50%;
	transition: all .3s
}
