/*General styles.*/
*::before, *::after {
    box-sizing: border-box;
}
.split {
    display: flex;
    flex-direction: column;
    margin: auto;
}
@media (min-width: 40em) {
    .split {
        flex-direction: row;
    }
    .split > * {
        flex-basis: 100%;
    }
    .split > * + * {
        margin-left: 2em;
    }
}

.skip-nav-link {
    position: absolute;
    transform: translateY(-200%);
    left: 40%;
    background: #fbc847;
    color: black;
    font-weight: bold;
    border-radius: 0 0 0.25rem 0.25rem;
    padding: 0.5rem 1.5rem;
    transition: transform 325ms ease-in;
}

.skip-nav-link:focus {
    transform: translateY(0);
}

html {
    scroll-behavior: smooth;
    --background: #fff;
    --needed-backgroud: #fff;
    --title-color: #000;
    --text-color: #000;
    --highlight-color: #fbc847;
    --svg-inverter: 0%;
}

html[data-theme='dark'] {
    scroll-behavior: smooth;
    --background: #000;
    --needed-backgroud: #ddd;
    --title-color: #ffff;
    --text-color: #a0aaba;
    --highlight-color: rgb(182, 31, 12);
    --svg-inverter: 90%;
}


html body {
    background-color: var(--background);
    text-rendering: optimizeSpeed;
    margin: auto;
    max-width: 50em;
    flex-direction:column;
    justify-content:center;
    vertical-align: middle;
}
html body h1 {
    color: var(--title-color);
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
html body h2 {
    color: var(--title-color);
    font-weight: 400;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
html body h3, html body h4 {
    color: var(--title-color);
    font-weight: 400;
    font-size: 1.35rem;
    font-weight: bold;
    text-align: center;
}
p {
    color: var(--text-color);
    font-size: 1.123rem;
    text-align: justify;
}
li {
    color: var(--text-color);
}
table {
    border-collapse: separate;
    border-spacing: 1.5vmin;
    font-size: 2vmin;
    vertical-align: middle;
    margin: auto;
}
/*Definitions for image size.*/
img {
    border: none;
    display: block;
    max-width: 100%;
    margin: 1em;
}
.img-icon-big {
    display: block;
    height: 6em;
    filter: invert(var(--svg-inverter));
}
.img-icon-small {
    display: block;
    height: 3em;
    filter: invert(var(--svg-inverter));
}
.img-logo-project {
    background-color: var(--needed-backgroud);
    display: inline-block;
    vertical-align: middle;
    height: 1em;
}
.img-author {
    display: inline-block;
    height: 3em;
    filter: invert(var(--svg-inverter));
}
.img-patterns {
    background-color: var(--needed-backgroud);
    display: inline-block;
    height: 3em;
}

/*Definitions for the icons and span selection.*/
.icon {
    display: inline-block;
    background-size: cover;
}
.icon:hover, .icon:focus {
    background: var(--highlight-color);
    transition: all 0.2s ease-out;
}
legend {
    color: var(--text-color);
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
}

/*Translations*/
.lang-flag {
    height: 1.5em;
    border-radius: 10%;
    vertical-align: middle;
    display: inline;
    /* position: absolute;
        top: 5px;
        right: 15px; */
        /* display: inline-block; */
        /* width: 20px;
        height: 20px;
        line-height: 20px;
        padding-left: 20px;
        font-weight: 500; */
        /* vertical-align: top; */
        /* margin-top: 5px */
}
